.grid-wrapper {
	text-align: center;
	width: 100%;
}

.grid-element {
	display: inline-block;
	margin: 0;
	padding: 5px;
	text-align: left;
	width: 400px;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}

.grid-element .icon {
	right: 0;
	top: 0;
}

.grid-element h4 {
	font-size: 20px;
	color: lightgray;
}

.grid-element h5 {
	font-size: 16px;
	color: dimgray;
}

.grid-element p {
	font-size: 14px;
	color: lightgray;
}